{% extends 'base.html' %}

{% block content %}
    <section class="menu ptb-80" id="menu">
        <div class="container">
            <h3>{{ nomi }}</h3>
            <div class="menu-items d-grid">

                {% for i in ovqat %}
                    <div class="item">
                        <img src="{{ url_for('static', filename='media-files/'+i[2]) }}" height="260px" alt="pizza" class="img-fluid">
                        <div class="item-content">
                            <h4>  {{ i[3] }}</h4>
                            <p>{{ i[1] }}</p>
                            <div class="action d-flex">
                                <span class="price">
                                    {{ i[0] }}
                                </span>
                                <a href="{{ url_for('addsavat', ovqatid=i[4]) }}" class="cart-btn">Add basket</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}