{% extends 'base.html' %}


{% block content %}

<div class="login">
    <div class="container">
        <h2> Login sahifasi </h2>
        <form action="{{ url_for('login') }}" method="post">
            <label for="login">login:</label>
            <input id="login" name="login" type="text">

            <label for="parol">parol:</label>
            <input id="parol" name="parol" type="password">

            {% if xato %}
                {{ xato }}
            {% endif %}

            <button type="submit"> Login </button>
        </form>
        <p>
            Agar ro'yxatdan o'tmagan bo'lsangiz
            <a href="{{ url_for('register') }}"> ro'yxatdan o'ting </a>
        </p>
    </div>
</div>

{% endblock %}